* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --background-color: #D9E6F6;
  --header-color: #5C9ECF;
  --footer-color: #BBCDE8;
  --input-search: #5579A1;
  --white-color: #FFF;
  --email-color: #2F4A71;
  --primary-color: #2E7BB4;
  --secondary-color: #388BB0;
  --gray2: #5A5A5A;
}

body {
  background: var(--background-color);
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  body {
    background: none;
    background-color: var(--header-color);
  }
}