.content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.content .relations {
  max-width: 450px;
  flex: 1;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
}

.content .relations .boxDevs,
.content .relations .boxCommunities {
  background-color: var(--white-color);
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.content .relations .boxDevs a,
.content .relations .boxCommunities a {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 14px;
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
  }

  .content .relations {
    width: 80%;
    min-width: 350px;
    max-width: 500px;
    margin: 0 auto;
  }

  .content .relations .boxDevs {
    margin-top: 20px;
  }
}