.content {
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 10px;
}

.content a {
  color: var(--primary-color);
  font-weight: bold;
}

.devs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 20px 0;
}

.devs .dev {
  width: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.devs .dev img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.9;
  transition: 400ms;
}

.devs .dev img:hover {
  opacity: initial;
}

.devs .dev h4 {
  font-weight: normal;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: var(--white-color);
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  .devs .dev h4 {
    font-size: 0.6rem;
  }
}

@media (max-width: 1000px) {
  .content {
    margin-top: 10px;
  }
}