.welcomeArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}

.welcomeArea .welcome,
.welcomeArea .actions {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.welcomeArea .welcome h1 {
  margin: 15px 0;
  font-size: 28px;
  font-weight: normal;
  line-height: 33px;
}

.welcomeArea .welcome h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: gray;
  margin-bottom: 20px;
}

.welcomeArea .welcome h5 span {
  opacity: 0.7;
  font-weight: normal;
}

.welcomeArea .welcome .itemsGroup {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.welcomeArea .welcome .itemsGroup .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.welcomeArea .welcome .itemsGroup .item p {
  margin-bottom: 5px;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.welcomeArea .welcome .itemsGroup .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: var(--primary-color);
}

.welcomeArea .welcome .itemsGroup .item a img {
  margin-right: 5px;
}

.welcomeArea .actions {
  margin-top: 10px;
}

.welcomeArea .actions .toDo {
  padding: 10px 0;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.welcomeArea .actions .toDo a {
  background-color: #D9E6F6;
  padding: 15px;
  border-radius: 15px;
  margin-right: 15px;
  color: #2E7BB4;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.welcomeArea .actions .toDo a:first-child {
  background-color: #6F92BB;
  color: var(--white-color);
}

.welcomeArea .actions form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeArea .actions form input {
  background-color: var(--footer-color);
  width: 100%;
  border: 0;
  outline: none;
  border-radius: 15px;
  padding: 15px;
  margin: 5px 0;
}

.welcomeArea .actions form button {
  background-color: var(--primary-color);
  width: 250px;
  padding: 15px;
  border: 0;
  outline: none;
  margin: 15px 0;
  cursor: pointer;
  color: var(--white-color);
  border-radius: 15px;
  transition: 400ms;
}

.welcomeArea .actions form button:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 1000px) {
  .welcomeArea {
    width: 80%;
    min-width: 350px;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 548px) {
  .welcomeArea .welcome .itemsGroup {
    flex-direction: column;
  }

  .welcomeArea .welcome .itemsGroup .item {
    margin: 5px 0;
  }
}